---
- hosts:
    - all
  remote_user: root
  roles:
    - node
  vars:
    ansible_ssh_private_key_file: "{{ node_ssh_root_private_key_file | default('~/.ssh/root/id_ed25519') }}"
  tags:
    - node

- hosts:
    - etcd
  remote_user: admin
  become: yes
  roles:
    - etcd
  vars:
    ansible_ssh_private_key_file: "{{ node_ssh_admin_private_key_file | default('~/.ssh/admin/id_ed25519') }}"
  tags:
    - etcd

- hosts:
    - postgresql
  remote_user: admin
  become: yes
  roles:
    - pgdg
    - postgresql
    - patroni
  vars:
    ansible_ssh_private_key_file: "{{ node_ssh_admin_private_key_path | default('~/.ssh/admin/id_ed25519') }}"
  tags:
    - postgresql
