#SPDX-License-Identifier: MIT-0
---
- name: create data directory
  ansible.builtin.file:
    path: "{{ pgbackrest_data_directory }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "0755"

- name: mount data directory
  ansible.posix.mount:
    path: "{{ pgbackrest_data_directory }}"
    src: "{{ pgbackrest_file_system_id }}"
    fstype: virtiofs
    opts: rw,relatime
    state: mounted

- name: create configuration directories
  ansible.builtin.file:
    path: /etc/pgbackrest
    owner: postgres
    group: postgres
    state: directory

- name: upload configuration files
  ansible.builtin.template:
    src: etc/pgbackrest/pgbackrest.conf.j2
    dest: /etc/pgbackrest/pgbackrest.conf
    owner: postgres
    group: postgres
    mode: "0644"

- name: install pgbackrest
  ansible.builtin.apt:
    name: pgbackrest
    state: present

- name: upload utility script(s)
  ansible.builtin.copy:
    src: etc/pgbackrest/scripts
    dest: /etc/pgbackrest
    owner: postgres
    group: postgres

- name: configure backup jobs
  ansible.builtin.cron:
    name: "{{ item.name }}"
    user: postgres
    weekday: "{{ item.weekday }}"
    hour: "0"
    minute: "0"
    job: "{{ item.job }}"
  with_items:
  - name: "execute full backup"
    weekday: "0"
    job: "bash /etc/pgbackrest/scripts/backup.bash -t full"
  - name: "execute incremental backup"
    weekday: "1-6"
    job: "bash /etc/pgbackrest/scripts/backup.bash -t incr"
