#SPDX-License-Identifier: MIT-0
---
- name: create data directory partition
  community.general.parted:
    device: /dev/vdb
    part_end: "100%"
    label: gpt
    number: 1
    fs_type: ext4
    state: present

- name: format data directory filesystem
  community.general.filesystem:
    fstype: ext4
    dev: /dev/vdb1

- name: create data directory
  ansible.builtin.file:
    path: "{{ pgbackrest_data_directory }}"
    state: directory

- name: register data directory block storage
  ansible.builtin.shell: blkid -s UUID -o value /dev/vdb1
  register: block_id

- name: mount data directory
  ansible.posix.mount:
    path: "{{ pgbackrest_data_directory }}"
    src: "UUID={{ block_id.stdout }}"
    fstype: ext4
    opts: defaults,noatime,nofail
    state: mounted

- name: create configuration directories
  ansible.builtin.file:
    path: /etc/pgbackrest
    owner: postgres
    group: postgres
    state: directory

- name: upload configuration files
  ansible.builtin.template:
    src: etc/pgbackrest/pgbackrest.conf.j2
    dest: /etc/pgbackrest/pgbackrest.conf
    owner: postgres
    group: postgres
    mode: "0644"

- name: install pgbackrest
  ansible.builtin.apt:
    name: pgbackrest
    state: present

- name: upload utility script(s)
  ansible.builtin.copy:
    src: etc/pgbackrest/scripts
    dest: /etc/pgbackrest
    owner: postgres
    group: postgres

- name: configure full backup job
  ansible.builtin.cron:
    name: execute full backup 
    user: postgres
    weekday: "0"
    hour: "0"
    minute: "0"
    job: "bash /etc/pgbackrest/scripts/backup.bash -t full"

- name: configure diff backup job
  ansible.builtin.cron:
    name: execute diff backup 
    user: postgres
    weekday: "1-6"
    hour: "0"
    minute: "0"
    job: "bash /etc/pgbackrest/scripts/backup.bash -t diff"
