#SPDX-License-Identifier: MIT-0
---
- name: create required directories
  ansible.builtin.file:
    path: /etc/pgbackrest
    owner: postgres
    group: postgres
    state: directory

- name: add configuration
  ansible.builtin.template:
    src: etc/pgbackrest/pgbackrest.conf.j2
    dest: /etc/pgbackrest/pgbackrest.conf
    owner: postgres
    group: postgres
    mode: "0644"

- name: install pgbackrest
  ansible.builtin.apt:
    name: pgbackrest
    state: present

- name: upload script(s)
  ansible.builtin.copy:
    src: etc/pgbackrest/scripts
    dest: /etc/pgbackrest
    owner: postgres
    group: postgres

- name: create full backup job
  ansible.builtin.cron:
    name: execute full backup 
    user: postgres
    weekday: "0"
    hour: "0"
    minute: "0"
    job: "bash /etc/pgbackrest/scripts/backup.bash -t full"

- name: create diff backup job
  ansible.builtin.cron:
    name: execute diff backup 
    user: postgres
    weekday: "1-6"
    hour: "0"
    minute: "0"
    job: "bash /etc/pgbackrest/scripts/backup.bash -t diff"
