#SPDX-License-Identifier: MIT-0
---
- name: install postgresql
  ansible.builtin.apt:
    name: "postgresql-{{ postgresql_version }}"
    state: present

- name: allow traffic
  community.general.ufw:
    rule: allow
    from_ip: "{{ hostvars[item]['ansible_host'] }}"
    port: 5432
  with_inventory_hostnames:
    - postgresql
