#SPDX-License-Identifier: MIT-0
---
- name: install postgresql
  ansible.builtin.apt:
    name: "postgresql-{{ postgresql_version }}"
    state: present

- name: disable postgresql
  ansible.builtin.systemd:
    name: postgresql
    masked: yes
    enabled: no
    state: stopped

- name: purge current data directory
  ansible.builtin.file:
    path: "/var/lib/postgresql/{{ postgresql_version }}/main"
    state: absent

- name: create new data directory
  ansible.builtin.file:
    path: "/var/lib/postgresql/{{ postgresql_version }}/main/"
    owner: postgres
    group: postgres
    state: directory
    mode: "0700"
